@model List<classes>

@{
    ViewData["Title"] = "classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container d-flex justify-content-center">
    <table class="table table-primary my-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sınıf Adı</th>
                <th scope="col">Düzenle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td><a href="/home/classEdit/@item.Id" class="btn btn-primary">Düzenle</a></td>
                    <td><a href="/home/classDelete/@item.Id" class="btn btn-danger">Sil</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>
